In [2]:
 import pandas as pd
df = pd.DataFrame('x', columns=['A', 'B', 'C'], index=range(5))
df

   A  B  C
0  x  x  x
1  x  x  x
2  x  x  x
3  x  x  x
4  x  x  x

In [3]:
[*df]
# ['A', 'B',

['A', 'B', 'C']

In [4]:
*df,  # Please note the trailing comma
# ('A', 'B', 'C')

('A', 'B', 'C')

In [5]:
*cols, = df  # A wild comma appears, again
cols
# ['A', 'B', 'C']

['A', 'B', 'C']

In [6]:
df.columns.to_numpy().tolist()
# ['A', 'B', 'C']

['A', 'B', 'C']